 /** 
	Set the margins of the page to 0, so the footer and the header
	can be of the full height and width !
 **/
@page {
	margin: 0.5cm 0.5cm;
	font-family: Arial, Helvetica, sans-serif;
}

/** Define now the real margins of every page in the PDF **/
body {
	margin-top: 1.0cm;
	margin-left: 1.0cm;
	margin-right: 1.0cm;
	margin-bottom: 1.0cm;
	font-family: Arial, Helvetica, sans-serif;
	
}

/** Define the header rules **/
header {
	position: fixed;
	top: 0cm;
	left: 0cm;
	right: 0cm;
	height: 3cm;
	
}
.headtitle{
	padding-left:10px;
	font-size:12px;
}
.h4{
	
}
.ksptitle{
	margin-bottom:1px;
	margin-top:5px;
}
.tblbtm{
	border-collapse:collapse;
}
.tblbtm td{
	border:solid 1px #000000;
}
main{
	font-size:14px;
}
/** Define the footer rules **/
footer {
	position: fixed; 
	bottom: 0cm; 
	left: 0cm; 
	right: 0cm;
	height: 2cm;
}